@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#landing {
    background-color: #feeeee;
}

body{
    background-color: #feeeee;
}
.index__body{
    overflow-x: hidden;
}


li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.red{
    color: #DE5656;
}

a{
    text-decoration: none;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover{
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

/* LANDING */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

#personal-logo{
    width: 150px;
    height: 60px;
}

.nav__link--list{
    display: flex;
    margin-right: 12px;
}

.nav__link{
    margin: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--anchor{
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: white;
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.contact__button{
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    align-items: center;
    background-color: #DE5656;
    border: none;
    width: 100%;
    border-radius: 50px;
    padding: 12px 40px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 100px);
}

.header__title{
    max-width: 730px;
    font-size: 50px;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 30px;
}

.header__subtitle{
    text-transform: uppercase;
    margin-bottom: 30px;
}

.input__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 40px;
}

.landing__search{
    width: 100%;
    height: 70px;
    margin: 0px 16px;
}

.search__button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #DE5656;
    color: white;
    border: 1px solid #DE5656;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-size: 40px;
    position: relative;
}

.display-none {
    display: none;
}

.fa-spinner {
    animation: spinner 750ms infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    } 
    100% {
        transform: rotate(360deg)
    }
}

.fans__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fans__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.car__wrapper{
    position: absolute;
    transition: all 50000ms ease;
}

.car__wrapper--start {
    transform: translateX(-150vw);
    bottom: 0px;
}

.car__wrapper--search {
    transform: translateX(150vw);
    bottom: 0px;
}


/* FILTER MENU */
.filter__menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 1300px;
    margin: 0 auto;
}

.filter{
    width: 50%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    background-color: #feeeee;
}

/* RESULTS TABLE */

#results{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.results__table--header-table{
    font-size: 16px;
}

table{
    width: 1300px;
}

tr{
    width: 100%;
    padding: 0 16px;
    border: 1px solid black;
}

th, td{
    width: 10%;
    max-width: 110px;
    text-align: center;
    padding: 12px;
    margin: 0px 5%;
}

tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
}


@media (max-width: 768px) {
    .header__title{
        font-size: 36px;
        padding: 0px 16px;
    }
    .header__subtitle{
        font-size: 16px;
        text-align: center;
    }
    .landing__search{
        width: 80%;
    }
    .search__button {
        font-size: 24px;
    }
    .filter {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .contact__button{
        text-align: center;
    }
    .nav__link{
        display: none;
    }
    .contact__button{
        max-height: 20px;
        padding: 6px 20px;
    }
}